body {
    background-color: #f5f5f5;
    padding-top: 41px;
    text-shadow: 1px 1px 3px rgba(50, 50, 50, 0.15);
}

.content {
    background: url("../img/bambook.jpg") no-repeat;
    background-position: center top;
}
.content-bg {
    background-color: #FFF;
}
.headflash {
    height: 286px;
}

ul.date {
    background: url("../img/databg.95880f4bf6f1.gif") no-repeat;
    width: 48px;
    height: 45px;
    float: left;
    margin: 0 10px 0 0;
    padding: 0;
}
li.day {
    color: #FFF;
    font-size: 22px;
    list-style-type: none;
    margin: 1px 0 0 0;
    text-align: center;
}
li.month {
    color: #5b9300;
    font-size: 12px;
    font-weight: bold;
    list-style-type: none;
    text-align: center;
    text-transform: uppercase;
}
ul.title {
    float: left;
    margin: 0;
    padding: 0;
}
li.topic {
    font-size: 18px;
    font-weight: bold;
    list-style-type: none;
    margin: 0;
    padding-bottom: 3px;
}
li.topic a:hover {
    color: #87c71f;
    text-decoration: none;
}
li.postmeta {
    background: url("../img/smallbg.c96c0ea9244f.png") no-repeat top left;
    color: #609509;
    font-size: 11px;
    list-style-type: none;
    padding-top: 5px;
    padding-top: 7px !important;
}
.entry {
    margin: 10px 0px 10px 0px;
}

#sidebar {
    padding: 8px 0;
}
.icon-post-item {
    background: url("../img/arrow.164958930265.gif") no-repeat;
}
.icon-post-title {
    background: url("../img/h2_arrow.8aa89d61ce02.gif") no-repeat;
}

#slides {
    padding: 20px;
}

.post {
    margin-bottom: 60px;
}
